@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'iransans';
    font-weight: 300;
    src: url(../public/fonts/IRANSansXFaNum-Light.woff2) format('woff2');
}
@font-face {
    font-family: 'iransans';
    font-weight: 500;
    src: url(../public/fonts/IRANSansXFaNum-Medium.woff2) format('woff2');
}
@font-face {
    font-family: 'iransans';
    font-weight: bold;
    src: url(../public/fonts/IRANSansXFaNum-Bold.woff2) format('woff2');
}
@font-face {
    font-family: 'iransans';
    font-weight: 900;
    src: url(../public/fonts/IRANSansXFaNum-Black.woff2) format('woff2');
}

body {
    font-family: 'iransans' !important;
}